  div {
        padding-top: 40px;
        padding-bottom: 40px;
        
    }

      fieldset{
border: 1px solid purple;
background-color: lavender;
    }


      body{
        text-align: center;
        
    }