body{

    text-align: center;
    background-color: lavender;
    position:static;
        
}

th {
    padding:50px;
    text-align:center;
    font-size: 20px;
    background-color:aliceblue;
    border: 2px solid purple
}